#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
main {
  min-height: calc(100vh - 2.5rem);
  background-color: rgba(116, 125, 156, 0.281);
}
